@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #e5e7eb;
  scroll-behavior: smooth;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.custom-img {
  background-image: url('../public/img/Destination_PADI\ 6.jpg');
}

.custom-img-banner {
  background-image: url('https://cdn.discordapp.com/attachments/841443299839574017/1047343133287002143/banner_esba.jpg');
}

.bg-img-open {
  background-image: url('../public/img/open_water.jpg');
}